
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<br />
<h6>@ViewBag.F2</h6>
<small>@ViewBag.F2P</small><br />
<small>@ViewBag.F2U</small><br />
<small>@ViewBag.F2D</small><br />
<small>Email: @ViewBag.F2E</small>
<br />
<br />

<h6>@ViewBag.F1</h6>
<small>@ViewBag.F1P</small><br />
<small>@ViewBag.F1U</small><br />
<small>@ViewBag.F1D</small><br />
<small>Email: @ViewBag.F1E</small>
<br />
<br />

